[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "xorg-server/xkeyboard-config"]
	path = xorg-server/xkeyboard-config
	url = https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config.git
[submodule "freetype"]
	path = freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "fontconfig"]
	path = fontconfig
	url = https://gitlab.freedesktop.org/fontconfig/fontconfig.git
[submodule "libXft"]
	path = libXft
	url = https://gitlab.freedesktop.org/xorg/lib/libxft.git
[submodule "libexpat"]
	path = libexpat
	url = git@github.com:libexpat/libexpat.git
[submodule "libxkbfile"]
	path = libxkbfile
	url = https://gitlab.freedesktop.org/xorg/lib/libxkbfile.git
[submodule "xkbcomp"]
	path = xkbcomp
	url = https://gitlab.freedesktop.org/xorg/app/xkbcomp.git
[submodule "libXfont2"]
	path = libXfont2
	url = https://gitlab.freedesktop.org/xorg/lib/libxfont.git
[submodule "libX11"]
	path = libX11
	url = https://gitlab.freedesktop.org/xorg/lib/libx11.git
[submodule "libXau"]
	path = libXau
	url = https://gitlab.freedesktop.org/xorg/lib/libxau.git
[submodule "libXaw"]
	path = libXaw
	url = https://gitlab.freedesktop.org/xorg/lib/libxaw.git
[submodule "libfontenc"]
	path = libfontenc
	url = https://gitlab.freedesktop.org/xorg/lib/libfontenc.git
[submodule "xserver"]
	path = xserver
	url = https://gitlab.freedesktop.org/xorg/xserver.git
