[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "xorg-server/xkeyboard-config"]
	path = xorg-server/xkeyboard-config
	url = https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config.git
