[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl.git
[submodule "xorg-server/xkeyboard-config"]
	path = xorg-server/xkeyboard-config
	url = https://gitlab.freedesktop.org/xkeyboard-config/xkeyboard-config.git
[submodule "freetype"]
	path = freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "fontconfig"]
	path = fontconfig
	url = https://gitlab.freedesktop.org/fontconfig/fontconfig.git
[submodule "libXft"]
	path = libXft
	url = https://gitlab.freedesktop.org/xorg/lib/libxft.git
[submodule "libexpat"]
	path = libexpat
	url = git@github.com:libexpat/libexpat.git
[submodule "libxkbfile"]
	path = libxkbfile
	url = https://gitlab.freedesktop.org/xorg/lib/libxkbfile.git
